@{
    ViewData["Title"] = "Sales Count";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Number of Sales</h5>
        <p class="card-text">@ViewBag.Count</p>
    </div>
</div>